[submodule "service-account"]
	path = service-account
	url = https://github.com/CLD4-T2-IAMConan/service-account.git
[submodule "service-chat"]
	path = service-chat
	url = https://github.com/CLD4-T2-IAMConan/service-chat.git
[submodule "service-trade"]
	path = service-trade
	url = https://github.com/CLD4-T2-IAMConan/service-trade.git
[submodule "service-ticket"]
	path = service-ticket
	url = https://github.com/CLD4-T2-IAMConan/service-ticket.git
[submodule "service-cs"]
	path = service-cs
	url = https://github.com/CLD4-T2-IAMConan/service-cs.git
