[submodule "service-account"]
	path = service-account
	url = git@github.com:CLD4-T2-IAMConan/service-account.git
[submodule "service-chat"]
	path = service-chat
	url = git@github.com:CLD4-T2-IAMConan/service-chat.git
